#loading-shell {
    width: 60vw;
    height: 35px;
    margin: auto;
    background-color: white;
    border-radius: 8px;
}

#loading-bar {
    margin-top: 60px;
    background-color: #4deec6;
    color: white;
    width: 12.0%;
    height: 35px;
    border-radius: 6px;
}
